<meta name="viewport" content="width=device-width, initial-scale=1">
<mat-toolbar>
  <form>
    Advance Search:


    <mat-form-field class="mf2">
      <input class="inp" matInput #dateinput [min]="minDate" [max]="maxDate" [matDatepicker]="resultPicker"
        placeholder="Choose a date" (dateChange)="selectDate($event)">
      <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
      <mat-datepicker #resultPicker></mat-datepicker>
    </mat-form-field>
    <mat-icon (click)="reset();" class="menu-icon">restore</mat-icon>


    <button mat-button [routerLink]="'../showImages'" class="menu-button">
      <mat-icon>list</mat-icon>
      <span></span>
    </button>
    <button mat-button [routerLink]="'../allImages'" class=" ml-2 menu-button">
      <mat-icon>ballot</mat-icon>
      <span></span>
    </button>


  </form>
</mat-toolbar>

<div class="col-md-6 mt-5 user-container">
</div>
<mat-grid-list cols="4" rowHeight="1:1">
  <div *ngFor="let image of fileteredImages | paginate:
       { itemsPerPage: 12, currentPage: page,
        totalItems:fileteredImages.length }">

    <mat-grid-tile><img width="200px" height="180px" [src]="image.localPath">
      <mat-icon class="ic" title="Delete this Image" (click)="deleteImage(image.id)">highlight_remove</mat-icon>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
