
mat-toolbar {
  background: #ffffff;
  color: rgb(0, 0, 0);
  height: 15%;
  width: 99%;
}

.logo{
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 4px;

}

mat-sidenav {
  margin: 16px;
  width: 200px;

  border-right: none;
  background: #ffffffea;
  color: rgb(3, 3, 3);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}



.content {
  height: calc(110vh - 200px);
  position: relative;
 width: auto !important;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: left;
  align-items: left;
  overflow-y : auto;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.username{
  font-size: x-small;
  padding-left: 5px;

}



.search::placeholder{
   color: black;
   opacity: 0.9;
}

mat-sidenav-container {
  height: 100 !important;
  width: 100 !important;
}



.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;

}

.mat-button:focus {
  background:pink;
}

.avatar {
  margin-top: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}


.us {
  padding-top: 20px;
  border-radius: 100%;

  margin-right: 0;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}



.wrapper {
  position: relative;
  display: flex;
  min-width: 200px;
  margin:0 auto;
  margin-top: 35px;
}


.search-icon {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;

}


.search{
  text-align: center;
  border: px solid grey;
  border-radius: 15px;
  height: 35px;
  width: 320px !important;
  font: bold;

  background-Color: rgb(201, 201, 201) !important;
}

